@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
.input-group {
  width: 100%; }

.tip {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid blue;
  display: block; }

body {
  font-family: "Roboto", sans-serif; }
